---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="About" description="About me">
  <h1 class="font-semibold text-xl">About</h1>
  <p>Work, background and contact.</p>
</PageLayout>