---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Articles" description="All articles">
  <h1 class="font-semibold text-xl">Articles</h1>
  <p>Filter by topic and tags.</p>
</PageLayout>