---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  title="Photography"
  description="Selected photo projects and albums"
>
  <h1>Photography</h1>

  <p>
    A selection of personal projects and photo series.
  </p>

  <ul>
    <li>
      <a href="/photography/street">
        Street photography
      </a>
    </li>
    <li>
      <a href="/photography/goodwood">
        Goodwood
      </a>
    </li>
  </ul>
</PageLayout>