---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Photos" description="Photo albums and portfolios">
  <h1 class="font-semibold text-xl">Photos</h1>
  <p>Albums and external portfolios.</p>
</PageLayout>