---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Coffee log" description="Beans, brews and ratings">
  <h1 class="font-semibold text-xl">Coffee log</h1>
  <p>Every coffee I’ve tried.</p>
</PageLayout>