---
import Layout from '../layouts/PageLayout.astro';
---

<Layout title="404 - Page Not Found">
  <main style="text-align: center; padding: 50px;">
    <img src="/oa-404.png" class="block mx-auto w-48 alt="Original Archive 404 Logo" style="width: 200px;" />
    <h1>Oops! Page Not Found</h1>
    <p>It looks like this link is broken or the page has moved.</p>
    <a href="/">Return Home</a>
  </main>
</Layout>