---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<div class="caption-container relative clear-both -mt-6 mb-10 z-10">
  <p class="font-mono text-xs uppercase tracking-widest opacity-50 text-center">
    // {text}
  </p>
</div>