---
import { SITE } from "@consts";
import SocialLinks from "@components/SocialLinks.astro";
---

<footer class="w-full py-10 border-t border-black/5 dark:border-white/5 mt-auto">
  <div class="mx-auto max-w-4xl px-6 flex flex-col md:flex-row justify-between items-center gap-6">
    
    <div class="text-sm opacity-60 hover:opacity-100 transition-opacity duration-300">
  &copy; {new Date().getFullYear()} 
  <a href="/about" class="cursor-pointer">
    Ken Marlow@{SITE.NAME}
  </a>
</div>
    
    <div class="flex items-center gap-6">
      <SocialLinks />
      <div class="h-4 w-px bg-black/10 dark:bg-white/10 hidden md:block"></div>
    </div>
    
  </div>
</footer>