backend:
  name: github
  repo: originalarchive/oa-site
  branch: main
  base_url: https://coffee-cms-auth.ken-marlow.workers.dev
  auth_endpoint: /auth
  use_graphql: false

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "coffee"
    label: "Coffee Logs"
    folder: "src/content/coffee"
    create: true
    delete: true
    extension: "md"
    format: "frontmatter"
    path: "{{year}}/{{slug}}"
    slug: "{{name}}"
    summary: "{{name}} - {{roaster}} ({{roastDate}})"
    sortable_fields: ["commit_date", "roastDate", "name"]
    view_filters:
      - label: "Currently Open"
        field: status
        pattern: "Open"
      - label: "Finished"
        field: status
        pattern: "Finished"
    fields:
      - { label: "Draft", name: "draft", widget: "boolean", default: false }
      - { label: "Roast Date", name: "roastDate", widget: "datetime", date_format: "YYYY-MM-DD", time_format: false, required: true }
      - { label: "Year", name: "year", widget: "hidden", default: "{{year}}" }
      - { label: "Name", name: "name", widget: "string", required: true }
      - { label: "Roaster", name: "roaster", widget: "string", required: true }
      - { label: "Status", name: "status", widget: "select", options: ["Open", "Finished"], required: true }
      - { label: "Origin", name: "origin", widget: "string", required: true }
      - { label: "Body Content", name: "body", widget: "markdown", required: false }

  - name: "articles"
    label: "Articles"
    folder: "src/content/articles"
    create: true
    nested: { depth: 2 }
    path: "{{slug}}/index"
    summary: "{{title}} ({{date}})"
    sortable_fields: ["date", "title"]
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime", date_format: "YYYY-MM-DD", time_format: false }
      - { label: "Featured Image", name: "coverImage", widget: "image", required: false }
      - { label: "Draft", name: "draft", widget: "boolean", default: false }
      - { label: "Body", name: "body", widget: "markdown" }