---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
<body class="bg-stone-100 dark:bg-stone-900 text-black/50 dark:text-white/75 transition-colors duration-300">
    <Header />

    <main class="pt-32 pb-24 px-4 mx-auto max-w-screen-xl min-h-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>