---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <div class="relative z-50">
      <Header />
    </div>
    
    <main class="pt-24 min-h-[calc(100vh-160px)]"> 
      <slot />
    </main>

    <div class="relative z-50">
      <Footer />
    </div>
  </body>
</html>